@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* body {
    padding-top: 60px;
    background-color:  black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
#header{
    align-items: center;
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}
#logo{
    float: left;
}
#menu-h{
    list-style-type: none;
    padding: 0;
    background-color: black;
    float: right;
}
#menu-h li{
    display:  inline;
}
#menu-h li a{
    background-color: black ;
    color: blanchedalmond;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background 1s;
}
#menu-h li a:hover{
   background-color: blue;
   
}
#texto {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
}
.container{
    padding: 30px;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
#promo-video{
    margin: 20px;
}
.container2{
    padding: 30px;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.container2 div{
    text-align: center;
    margin: 40px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    width: 90%;
    grid-gap: 40px;   
}
.card{
    background-color: rgb(80, 78, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 35px;
    box-shadow: 3px 3px 6px rgb(77, 75, 75);
}
.textocard{
    background-color: rgb(80, 78, 78);
}
.rodape{
    display: flex;
    
}
#logoroda{
    padding: 35px;
}
#textoroda{
    text-align: right;
    padding: 200px;
}