@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
* body {
    background-color:  black;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 15px;
}
#header{
    align-items: center;
}
#logo{
    float: left;
}
#menu{
    list-style-type: none;
    padding: 0;
    float: right;
}
#menu li{
    display:  inline;
}
#menu li a{
    color: blanchedalmond;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: border 1s;
}
#menu li a:hover{
   border-bottom: 1px solid blue;
}
#promotional {
    display: flex;
}

#promo-video{
    margin: 20px;
}

#colab-cards {
    display: flex;
    justify-content: space-around;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}
.card{
    background-color: rgb(80, 78, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 3px 3px 6px rgb(77, 75, 75);
}
.now-more {
    text-align: right;
}
.produto img {
    width: 100%
}
.textocard{
    background-color: rgb(80, 78, 78);
}
footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
}
