@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* body {
    padding-top: 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  black;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
#header{
    margin: 0 auto;
    width: 90%;
}
#logo{
    float: left;
}
#menu-h{
    list-style-type: none;
    padding: 0;
    background-color: black;
    float: right;
}
#menu-h li{
    display:  inline;
}
#menu-h li a{
    background-color: black ;
    color: blanchedalmond;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    transition: background 1s;
}
#menu-h li a:hover{
   background-color: blue;
   
}
#sec1 {
margin: 0 auto;
margin-top: 30px;
width: 30;
}
